
@model int
<td>  <a asp-action="Detalis" asp-route-Id="@Model"> <i class="fa-solid fa-circle-info"></i> </a></td>

  <td>  <a asp-action="Edit" asp-route-Id="@Model"><ic class="fa-regular fa-pen-to-square"></ic> </a></td>

  <td>  <a asp-action="Delete" asp-route-Id="@Model"><ic class="fa-regular fa-trash-can"></ic> </a></td>
